{
    "forecaster_main": {
        "high_correlated_features": true,
        "show_plots": false,
        "save_plots": true,
        "use_only_correct_data": true,
        "fix_if_sensor_restart": true,
        "save_predictions": true,
        "choose_model_to_run": "regression",
        "save_evaluation": true,
        "good_time_start": "2019-09-06T00:00:00Z",
        "good_time_end": "2021-02-16T00:00:00Z",
        "path_to_energy_data": "site22_energy2.json",
        "path_to_power_data": "site22_power2.json",
        "path_to_temp_humi_data": "site22_temp_humi2.json",
        "path_to_weather_data": "Agios_Stefanos_hourly_weather.csv",
        "scaler": "standard"
    },
    "regression": {
        "test_size": 7,
        "only_energy": false
    },
    "recurrent_neural_network": {
        "test_size": 7,
        "only_energy": false,
        "epochs": 10,
        "batch_size": 64,
        "optimizer": "adam"
    },
    "arima": {
        "test_size": 7,
        "only_energy": false
    },
    "sarimax": {
        "test_size": 7,
        "only_energy": false,
        "exogeneous_data": false,
        "grid_search_for_order_params": false
    },
    "fb_prophet": {
        "test_size": 7,
        "only_energy": false,
        "add_holidays": false,
        "period": 1,
        "fourier_order": 8
    }
}